$color:#FF9500;
$class-prefix: "Y-"; 

body,html,button{
    margin:0;
    padding: 0;
}
button{
    border: 0;
    background: $color;
    border-radius: 4px;
    color: #ffffff;
    font-size:16px;
    border: 1px solid transparent;  //自定义边框
    outline: none;    //消除默认点击蓝色边框效果
}
a,button:hover{
    cursor:pointer;
}
button:active{
    opacity: 0.7;
}
.flex{
    display: flex;
}