$color:#FF9500;
$class-prefix: "Y-"; 
@import './reset.scss';
body,html{
    margin:0;
    padding: 0;
    height: 100%;
}
a{
    text-decoration: none;
}
button{
    border: 0;
    background: $color;
    border-radius: 4px;
    color: #ffffff;
    font-size:16px;
    border: 1px solid transparent;  //自定义边框
}
a,button:hover{
    cursor:pointer;
}
button:active{
    opacity: 0.7;
}
.flex{
    display: flex;
}
.f-c{
    display: flex;
    justify-content: center;
    align-items: center;
}